a:link {
    color:#222;
}
a:visited {
    text-decoration:underline;
    color:#222;
}
a:active {
    text-decoration:underline;
    color:#222;
}
a:hover {
    text-decoration:underline;
    color:rgba(0, 0, 0, 0.6);
}
.noline {
    text-decoration:none;
}

#posts{
    text-align: left;
}
#posts li {
    margin-bottom:0px; 
}
#posts ul {
    margin-bottom:5px; 
}